<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');
* {
    font-family: sans-serif;
}
.answer {
    border: 1px solid darkblue;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
}

.no-border {
    border: none;
    outline: none;
}
.container {
    background-color: rgb(70, 200, 243);
    margin: auto;
    margin-top: 140px;
    border-radius: 10px;
    padding: 10px;
}
#title{
    border: none;
    outline: none;
    border-bottom: 3px solid rgb(187, 184, 184);
    margin-bottom: 5px;
    width: 100%;
}
.question-score{
    display: flex;
    border: 1px solid darkblue;
    padding: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
}
span {
    display: flex;
    justify-content:center;
    align-items: center;
}

#input-question {
    border: none;
    outline: none;
    box-sizing: border-box;
}
.input-question {
    width: 100%;
}

.btns {
    display: flex;
    justify-content: flex-end;
    
}
.margin-right {
    margin-right:5px;
}

.sign-up {
    padding: 40px;
}

input {
    background: none;
    border: none;
    outline: none;
}
=======
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto+Slab:wght@350&display=swap');
* {
    font-family: 'Roboto Slab', serif;
}

* body {
    margin: auto;
    padding: auto;
}


/* home page */

header {
    background-color: rgb(0, 187, 250);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 0 black;
    color: white;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.logo {
    margin: 0 auto;
}
>>>>>>> ec5bc7bb2eb90fc42b5566df0fc76966253eda37
